<p id="notice"><%= notice %></p>

<p>
  <strong>Do piece:</strong>
  <%= @detail_commande.do_piece %>
</p>

<p>
  <strong>Do ref:</strong>
  <%= @detail_commande.do_ref %>
</p>

<p>
  <strong>Do date:</strong>
  <%= @detail_commande.do_date %>
</p>

<p>
  <strong>Ca num:</strong>
  <%= @detail_commande.ca_num %>
</p>

<p>
  <strong>Montantttc:</strong>
  <%= @detail_commande.montantttc %>
</p>

<p>
  <strong>Do valfrais:</strong>
  <%= @detail_commande.do_valfrais %>
</p>

<p>
  <strong>Do statut:</strong>
  <%= @detail_commande.do_statut %>
</p>

<p>
  <strong>Urgent:</strong>
  <%= @detail_commande.urgent %>
</p>

<p>
  <strong>Point retrait relais:</strong>
  <%= @detail_commande.point_retrait_relais %>
</p>

<p>
  <strong>Societe livraison:</strong>
  <%= @detail_commande.societe_livraison %>
</p>

<p>
  <strong>Nom livraison:</strong>
  <%= @detail_commande.nom_livraison %>
</p>

<p>
  <strong>Prenom livraison:</strong>
  <%= @detail_commande.prenom_livraison %>
</p>

<p>
  <strong>Email livraison:</strong>
  <%= @detail_commande.email_livraison %>
</p>

<p>
  <strong>Telephone livraison:</strong>
  <%= @detail_commande.telephone_livraison %>
</p>

<p>
  <strong>Adresse livraison:</strong>
  <%= @detail_commande.adresse_livraison %>
</p>

<p>
  <strong>Complement livraison:</strong>
  <%= @detail_commande.complement_livraison %>
</p>

<p>
  <strong>Code postal livraison:</strong>
  <%= @detail_commande.code_postal_livraison %>
</p>

<p>
  <strong>Ville livraison:</strong>
  <%= @detail_commande.ville_livraison %>
</p>

<p>
  <strong>Pays livraison:</strong>
  <%= @detail_commande.pays_livraison %>
</p>

<p>
  <strong>Code avantage:</strong>
  <%= @detail_commande.code_avantage %>
</p>

<p>
  <strong>Decagnottage:</strong>
  <%= @detail_commande.decagnottage %>
</p>

<p>
  <strong>Date expedition:</strong>
  <%= @detail_commande.date_expedition %>
</p>

<p>
  <strong>Numero tracking:</strong>
  <%= @detail_commande.numero_tracking %>
</p>

<p>
  <strong>Lien tracking:</strong>
  <%= @detail_commande.lien_tracking %>
</p>

<p>
  <strong>Code partenaire:</strong>
  <%= @detail_commande.code_partenaire %>
</p>

<p>
  <strong>Motifs rmbt recl:</strong>
  <%= @detail_commande.motifs_rmbt_recl %>
</p>

<p>
  <strong>Motifs retour:</strong>
  <%= @detail_commande.motifs_retour %>
</p>

<%= link_to 'Edit', edit_detail_commande_path(@detail_commande) %> |
<%= link_to 'Back', detail_commandes_path %>
