<%= form_with(model: interaction, local: true, data: {controller: 'form', form_errors: interaction.errors.messages.keys.join(',')}) do |form| %>
  <fieldset class="uk-fieldset">
    <% if interaction.errors.any? %>
      <div id="error_explanation" class="uk-alert-danger" uk-alert>
        <h2><%= t("errors.template.header", count: interaction.errors.count, model: 'interaction') %></h2>

        <ul>
          <% interaction.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="uk-margin uk-hidden">
      <%= form.label :ct_num, "N°Client", class: 'uk-form-label' %>
      <%= form.text_field :ct_num, class: 'uk-input', data: {target: 'form.input'} %>
    </div>

    <div class="uk-margin uk-hidden">
      <%= form.label :do_piece, "Numéro de Document", class: 'uk-form-label' %>
      <%= form.text_field :do_piece, class: 'uk-input', data: {target: 'form.input'} %>
    </div>

    <div class="uk-margin uk-hidden">
      <%= form.label :do_type, "Type de document", class: 'uk-form-label' %>
      <%= form.text_field :do_type, class: 'uk-input', data: {target: 'form.input'} %>
    </div>

    <%# type interaction %>
    <div class="uk-margin uk-grid" uk-grid>
      <span class="uk-width-1-4">
        <%= form.label :kind, "Type", class: 'uk-form-label' %>
        <%= form.select :kind, Interaction.kinds.collect {|interaction| [I18n.t("contact_method.#{interaction[0]}"), interaction[0]]}, {}, {class: 'uk-select', data: {target: 'form.input'}} %>
      </span>

      <span class="uk-width-1-4">
        <%= form.label :contact, "Contact", class: 'uk-form-label' %>
        <%= form.text_field :contact, value: @interaction.contact || current_user.email, readonly: true, class: 'uk-input', data: {target: 'form.input'} %>
      </span>

      <span class="uk-width-1-4">
        <%= form.label :object, "Objet", class: 'uk-form-label' %> 
        <%= form.select :object, Complaint.kinds.collect {|kind| [I18n.t("kind.#{kind[0]}"), kind[0]]}, {}, {class: 'uk-select', data: {target: 'form.input'}} %>
      </span>

      <span class="uk-width-1-4">
        <%= form.label :date, "Date", class: 'uk-form-label' %>
        <%= form.text_field :date, class: 'uk-input', data: {controller: 'flatpickr', flatpickr_format: "d-m-Y", flatpickr_max_date: Date.today} %>
      </span>
    </div>

    <div class="uk-margin">
      <%= form.label :summary, "Résumé de l'interaction", class: 'uk-form-label' %>
      <%= form.text_area :summary, rows: 5, class: 'uk-textarea', data: {target: 'form.input'} %>
    </div>

    <div class="uk-margin">
      <%= form.label :existing_file, "Document existant", class: 'uk-form-label' %>
      <%= form.select :existing_file, @interaction.attachments.collect {|attachment| [attachment.file_file_name, attachment.id] if attachment.file.file?}.compact,
                      {selected: @interaction.attachments.ids}, {multiple: true, id: 'existing_file', data: {target: 'form.input'}} %>
    </div>

    <div class="uk-margin">
      <div>
        <%= form.label :file, "Document", class: 'uk-form-label' %>
      </div>
      <%= form.file_field :file, multiple: true %>
    </div>

    <% if @interaction.do_piece.blank? %>
      <div class="uk-margin uk-width-1-4">
        <%= form.label :suggested_cagnotte_amount, "Montant de cagnotte suggeré", class: 'uk-form-label' %>
        <%= form.number_field :suggested_cagnotte_amount, value: @interaction.suggested_cagnotte_amount || 0, min: 0, step: :any, class: 'uk-input' %>
      </div>
    <% end %>

    <div class="uk-margin uk-width-1-4">
      <%= form.label :status, "Statut", class: 'uk-form-label' %>
      <%= form.select :status, Interaction.statuses.collect {|status| [I18n.t("status.#{status[0]}"), status[0]]}, {}, {class: 'uk-select', data: {target: 'form.input'}} %>
    </div>

    <%= form.hidden_field :search, value: @params[:search] %>

    <div class="uk-margin-medium">
      <% if interaction.new_record? %>
        <%= link_to 'Retour', detail_commandes_path(client_num: @params[:client_num], search: @params[:search],
                                                    do_piece: @params[:do_piece], do_type: @params[:do_type]), class: 'uk-button uk-button-default' %>
      <% else %>
        <%= link_to 'Retour', interaction_path(@interaction, search: @params[:search]), class: 'uk-button uk-button-default' %>
      <% end %>
      <%= form.submit "Enregistrer", class: 'uk-button uk-button-primary'  %>
      <% if @interaction.new_record? && @interaction.do_piece.present? %>
        <%= form.submit "Enregistrer et créer une réclamation", class: 'uk-button uk-button-primary'  %>
      <% end %>
    </div>
  </fieldset>
<% end %>

<script>
    $(document).ready(function () {
        $('#existing_file').select2();
    });
</script>
