<h2>Modifiez votre mot de passe</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'uk-width-large', method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="uk-margin">
    <%= f.label :password, "Nouveau mot de passe", class: 'uk-form-label' %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caractères minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'uk-input' %>
  </div>

  <div class="uk-margin">
    <%= f.label :password_confirmation, "Confirmation du nouveau mot de passe", class: 'uk-form-label' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'uk-input' %>
  </div>

  <div class="uk-margin">
    <%= f.submit "Modifier mon mot de passe", class: 'uk-button uk-button-primary uk-width-1-1' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
