<h2>Mot de passe oublié ?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'uk-width-large', method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="uk-margin">
    <%= f.label :email, "Adresse email", class: 'uk-form-label' %>
    <%= f.email_field :email, autofocus: true, class: 'uk-input' %>
  </div>

  <div class="uk-margin">
    <%= f.submit "Envoi des instructions de réinitialisation", class: 'uk-button uk-button-primary uk-width-1-1' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
