<p id="notice"><%= notice %></p>

<p>
  <strong>Do piece:</strong>
  <%= @contenu_commande.do_piece %>
</p>

<p>
  <strong>Ar ref:</strong>
  <%= @contenu_commande.ar_ref %>
</p>

<p>
  <strong>Dl design:</strong>
  <%= @contenu_commande.dl_design %>
</p>

<p>
  <strong>Dl qte:</strong>
  <%= @contenu_commande.dl_qte %>
</p>

<p>
  <strong>Dl puttc:</strong>
  <%= @contenu_commande.dl_puttc %>
</p>

<p>
  <strong>Remise:</strong>
  <%= @contenu_commande.remise %>
</p>

<p>
  <strong>Dl montantttc:</strong>
  <%= @contenu_commande.dl_montantttc %>
</p>

<p>
  <strong>Ldf:</strong>
  <%= @contenu_commande.ldf %>
</p>

<p>
  <strong>Code statut:</strong>
  <%= @contenu_commande.code_statut %>
</p>

<p>
  <strong>Nomenclature:</strong>
  <%= @contenu_commande.nomenclature %>
</p>

<%= link_to 'Edit', edit_contenu_commande_path(@contenu_commande) %> |
<%= link_to 'Back', contenu_commandes_path %>
