<div data-controller="navbar" class="uk-offcanvas-content">
  <nav class="uk-navbar-container uk-margin tm-navbar" uk-sticky uk-navbar>
    <div class="uk-navbar-left">
      <%= link_to root_path, class: 'uk-navbar-item uk-logo' do %>
        <%= image_tag("logo.png", {:style => "height:80%"}) %>
      <% end %>

      <ul class="uk-navbar-nav uk-visible@m">
        <li>
          <%= link_to recherche_clients_path, data: { target: 'navbar.link' } do %>
            Recherche Client
          <% end %>
        </li>
        <li>
          <%= link_to complaints_path, data: { target: 'navbar.link' } do %>
            Réclamations
          <% end %>
        </li>
        <li>
          <%= link_to interactions_path, data: { target: 'navbar.link' } do %>
            Intéractions
          <% end %>
        </li> 
      </ul>
    </div>

    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li>
          <%= link_to '#', class: 'uk-navbar-toggle uk-hidden@m', data: { action: 'navbar#toggle' } do %>
            <span uk-navbar-toggle-icon></span>
          <% end %>
        </li>
        <li>
          <%= link_to '#', class: 'uk-margin-medium-right uk-visible@m' do %>
            <span uk-icon="icon: more; ratio: 1.25"></span>
          <% end %>
          <div uk-dropdown>
          <b>Vers les autres interfaces</b>
          <br><br>
            <ul class="uk-nav uk-dropdown-nav">
              <li>
                <%= link_to "http://marketplace.willemsefrance.fr", target: "_blank" do %>
                  <span class="uk-margin-small-right" uk-icon="icon: world"></span>Portail fournisseur
                <% end %>
              </li>
              <li>
                  <%= link_to "http://dep.wf.fr", target: "_blank" do %>
                  <span class="uk-margin-small-right" uk-icon="icon: calendar"></span>Dates d'expédition prévues
                <% end %>
              </li>
              <li>
                <%= link_to "http://ecarts.wf.fr", target: "_blank" do %>
                  <span class="uk-margin-small-right" uk-icon="icon: tag"></span>Ecarts règlements
                <% end %>
              </li>
              <li>
                <%= link_to "http://circ.willemsefrance.fr:8081", target: "_blank" do %>
                  <span class="uk-margin-small-right" uk-icon="icon: forward"></span>Circulaire
                <% end %>
              </li>
              <li>
                <%= link_to "http://cat.willemsefrance.fr:8080/", target: "_blank" do %>
                  <span class="uk-margin-small-right" uk-icon="icon: forward"></span>Catalogue
                <% end %>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <%= link_to '#', class: 'uk-margin-medium-right uk-visible@m' do %>
            <span uk-icon="icon: user; ratio: 1.25"></span>
          <% end %>
          <div uk-dropdown>
            <ul class="uk-nav uk-dropdown-nav">
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <span class="uk-margin-small-right" uk-icon="icon: sign-out"></span>Déconnexion
                <% end %>
              </li>
            </ul>
          </div>
        </li>
<!--        <li>-->
<!--          <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-example">Open</button>-->
          <%#= render 'shared/popup_info' %>
<!--        </li>-->
      </ul>
    </div>
  </nav>

  <%= yield %>

  <div id="offcanvas-navbar" uk-offcanvas="mode: push">
    <div class="uk-offcanvas-bar">
      <button class="uk-offcanvas-close" type="button" uk-close></button>

      <ul class="uk-nav uk-nav-default">
        <li class="uk-nav-header">General</li>
        <li>
          <%= link_to recherche_clients_path, data: {target: 'navbar.link'} do %>
            Recherche Client
          <% end %>
        </li>
        <li class="uk-nav-divider"></li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            Déconnexion
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>