<p id="notice"><%= notice %></p>

<p>
  <strong>Ct num:</strong>
  <%= @fiche_client.ct_num %>
</p>

<p>
  <strong>Ct intitule:</strong>
  <%= @fiche_client.ct_intitule %>
</p>

<p>
  <strong>Ct civilite:</strong>
  <%= @fiche_client.ct_civilite %>
</p>

<p>
  <strong>Ct nom:</strong>
  <%= @fiche_client.ct_nom %>
</p>

<p>
  <strong>Ct prenom:</strong>
  <%= @fiche_client.ct_prenom %>
</p>

<p>
  <strong>Ct adresse:</strong>
  <%= @fiche_client.ct_adresse %>
</p>

<p>
  <strong>Ct complement:</strong>
  <%= @fiche_client.ct_complement %>
</p>

<p>
  <strong>Ct codepostal:</strong>
  <%= @fiche_client.ct_codepostal %>
</p>

<p>
  <strong>Ct ville:</strong>
  <%= @fiche_client.ct_ville %>
</p>

<p>
  <strong>Ct pays:</strong>
  <%= @fiche_client.ct_pays %>
</p>

<p>
  <strong>Ct email:</strong>
  <%= @fiche_client.ct_email %>
</p>

<p>
  <strong>Ct telephone:</strong>
  <%= @fiche_client.ct_telephone %>
</p>

<p>
  <strong>Ct telportable:</strong>
  <%= @fiche_client.ct_telportable %>
</p>

<p>
  <strong>Solde cagnotte:</strong>
  <%= @fiche_client.solde_cagnotte %>
</p>

<%= link_to 'Edit', edit_fiche_client_path(@fiche_client) %> |
<%= link_to 'Back', fiche_clients_path %>
