<div class="uk-section uk-section-default">
  <div class="uk-container">
    <%= render 'shared/notice' %>

    <div class="uk-flex-middle uk-margin-medium" uk-grid>
      <div class="uk-width-expand@m">
        <h1 class="uk-heading-primary">Document <%= @attachment.id %></h1>
      </div>
      <div class="uk-width-auto@m">
        <%= link_to 'Modifier', edit_attachment_path(@attachment), class: 'uk-button uk-button-primary' %>
        <%= link_to 'Supprimer', attachment_path(@attachment), method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: 'uk-button uk-button-danger' %>
      </div>
    </div>

    <div class="uk-overflow-auto">
      <table class="uk-table uk-table-striped">
        <tbody>
        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">id</td>
          <td><%= @attachment.id %></td>
        </tr>
        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">type</td>
          <td><%= @attachment.kind %></td>
        </tr>
        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Date de création</td>
          <td><%= @attachment.created_at %></td>
        </tr>
        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Md5</td>
          <td><%= @attachment.md5 %></td>
        </tr>
        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">PDF</td>
          <% if @attachment.pdf.attached? %>
            <td><%= link_to @attachment.pdf.blob.filename %></td>
          <% end %>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="uk-margin-medium">
      <%= link_to 'Retour', attachments_path, class: 'uk-button uk-button-default' %>
    </div>
  </div>
</div>