<div class="uk-section-xsmall uk-section-default">
  <div class="uk-container">
    <%= render 'shared/notice' %>

    <div class="uk-flex-middle uk-margin-medium" uk-grid>
      <div class="uk-flex uk-flex-row uk-width-expand@m">
        <h1 class="uk-heading-primary">Liste de documents</h1>
      </div>
    </div>

    <%= render 'shared/table', locals: { id: 'liste_documents_table', dom: 'lrtip', paging: false, info: false } do %>
      <thead>
        <tr>
          <th>CA_Num</th>
          <th>S_Intitule</th>
          <th>DO_Piece</th>
          <th>DO_Ref</th>
          <th>DO_Coord01</th>
          <th>DO_TotalHT</th>
          <th>DO_Date</th>
          <th>DO_Statut</th>
          <th>DO_Expedie</th>
          <th>DO_Type</th>
          <th data-orderable="false">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @liste_documents.each do |liste_document| %>
          <tr>
            <td><%= liste_document.ca_num %></td>
            <td><%= liste_document.s_intitule %></td>
            <td><%= liste_document.do_piece %></td>
            <td><%= liste_document.do_ref %></td>
            <td><%= liste_document.do_coord01 %></td>
            <td><%= liste_document.do_totalht %></td>
            <td><%= liste_document.do_date %></td>
            <td><%= liste_document.do_statut %></td>
            <td><%= liste_document.do_expedie %></td>
            <td><%= liste_document.do_type %></td>
            <td class="uk-flex uk-flex-center">
              <ul class="uk-iconnav">
                <%= link_to detail_commandes_path(do_piece: liste_document.do_piece) do %>
                  <span uk-icon="search" , uk-tooltip="Détails"></span>
                <% end %>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </div>
</div>