<p id="notice"><%= notice %></p>

<p>
  <strong>Ca num:</strong>
  <%= @liste_document.ca_num %>
</p>

<p>
  <strong>S intitule:</strong>
  <%= @liste_document.s_intitule %>
</p>

<p>
  <strong>Do piece:</strong>
  <%= @liste_document.do_piece %>
</p>

<p>
  <strong>Do ref:</strong>
  <%= @liste_document.do_ref %>
</p>

<p>
  <strong>Do coord01:</strong>
  <%= @liste_document.do_coord01 %>
</p>

<p>
  <strong>Do totalht:</strong>
  <%= @liste_document.do_totalht %>
</p>

<p>
  <strong>Do date:</strong>
  <%= @liste_document.do_date %>
</p>

<p>
  <strong>Do statut:</strong>
  <%= @liste_document.do_statut %>
</p>

<p>
  <strong>Do expedie:</strong>
  <%= @liste_document.do_expedie %>
</p>

<p>
  <strong>Do type:</strong>
  <%= @liste_document.do_type %>
</p>

<%= link_to 'Edit', edit_liste_document_path(@liste_document) %> |
<%= link_to 'Back', liste_documents_path %>
