<div class="uk-section-xsmall uk-section-default">
  <div class="uk-container">
    <%= render 'shared/notice' %>

    <div class="uk-flex-middle uk-margin-medium" uk-grid>
      <div class="uk-flex uk-flex-row uk-width-expand@m">
        <h1 class="uk-heading-primary">Recherche de clients</h1>
      </div>
    </div>

    <%= render 'shared/table', locals: { id: 'recherche_clients_table', dom: 'lrtip', paging: false, info: false } do %>
      <thead>
        <tr>
          <th>CT_Num</th>
          <th>CT_Type</th>
          <th>CT_Classement</th>
          <th>CT_Adresse</th>
          <th>CT_Codepostal</th>
          <th>CT_Ville</th>
          <th>CT_Email</th>
          <th>CT_Telephone</th>
          <th data-orderable="false">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @recherche_clients.each do |recherche_client| %>
          <tr>
            <td><%= recherche_client.ct_num %></td>
            <td><%= recherche_client.ct_type %></td>
            <td><%= recherche_client.ct_classement %></td>
            <td><%= recherche_client.ct_adresse %></td>
            <td><%= recherche_client.ct_codepostal %></td>
            <td><%= recherche_client.ct_ville %></td>
            <td><%= recherche_client.ct_email %></td>
            <td><%= recherche_client.ct_telephone %></td>
            <td class="uk-flex uk-flex-center">
              <ul class="uk-iconnav">
                <li>
                  <%= link_to fiche_clients_path(client_num: recherche_client.ct_num) do %>
                    <span uk-icon="search" , uk-tooltip="Détails"></span>
                  <% end %>
                </li>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </div>
</div>
