<div class="uk-section-xsmall uk-section-default">
  <div class="uk-container">
    <%= render 'shared/notice' %>

    <div class="uk-flex-middle uk-margin-medium" uk-grid>
      <div class="uk-flex uk-flex-row uk-width-expand@m">
        <h1 class="uk-heading-primary">Recherche de clients</h1>
      </div>
    </div>

    <%= form_with(model: @recherche_client, local: true, action: recherche_clients_path, method: 'GET') do |form| %>
      <div class="uk-margin uk-grid-small" uk-grid>
        <div class="uk-width-1-3">
          <%= form.text_field :search, class: 'uk-input', data: { target: 'form.input' }, placeholder: 'Rechercher ...', value: @search %>
        </div>
        <div class="uk-width-1-4 no-padding-left">
          <%= button_tag class: 'uk-button uk-button-default' do %>
            <span class="uk-icon" uk-icon="search"></span>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @recherche_clients.length > 0 %>
      <table id="recherche_client_table" class="uk-table uk-table-hover uk-table-striped uk-table-xsmall uk-table-responsive" style="width:100%">
        <thead>
          <tr>
            <th>N°Client</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>CP</th>
            <th>Ville</th>
            <th>Email</th>
            <th>Telephone</th>
            <th data-orderable="false">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @recherche_clients.each do |recherche_client| %>
            <tr>
              <td><%= recherche_client['CT_NUM']%></td>
              <td><%= recherche_client['CT_classement'] %></td>
              <td><%= recherche_client['CT_Adresse'] %></td>
              <td><%= recherche_client['CT_codepostal'] %></td>
              <td><%= recherche_client['CT_Ville'] %></td>
              <td><%= recherche_client['CT_EMail'] %></td>
              <td><%= recherche_client['CT_telephone'] %></td>
              <td class="uk-flex uk-flex-center">
                <ul class="uk-iconnav">
                  <li>
                    <%= link_to fiche_clients_path(client_num: recherche_client['CT_NUM'], search: @search) do %>
                      <span uk-icon="search" , uk-tooltip="Détails"></span>
                    <% end %>
                  </li>
                </ul>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
</div>

<script>
    $(document).ready(function () {
        const table = $('#recherche_client_table').DataTable({
            "paging": false,
            "info": false,
            "searching": false,
            "language": {
                "decimal": ".",
                "thousands": " "
            },
            responsive: true
        });
    });
</script>