<%= form_with(model: complaint, local: true, url: "/complaints/#{complaint.id}/form_second_submit",
              data: {controller: 'form', form_errors: complaint.errors.messages.keys.join(',')}) do |form| %>
  <fieldset class="uk-fieldset">
    <% if complaint.errors.any? %>
      <div id="error_explanation" class="uk-alert-danger" uk-alert>
        <h2><%= t("errors.template.header", count: complaint.errors.count, model: 'interaction') %></h2>

        <ul>
          <% complaint.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>Sauf si le client a fait constater le contenu du colis auprès du livreur…<br/>
      >> nous ne pouvons pas être sûr des faits</div>
    <div>>> S’il manque vraiment des articles, c’est injuste de ne pas lui répondre favorablement</div>
    <div>>> A contrario, c’est facile pour les clients de dire qu’ils n’ont pas reçu tel(s) article(s)…</div>

    <div class="uk-margin" uk-grid>
      <div class="uk-width-1-2">
        <h3>Les incontournables</h3>
        <div class="uk-margin">
          <%= form.label :question, 'Le client est-il coutumier des réclamations ?', class: 'uk-form-label uk-text-bold' %>
          <span uk-icon="pencil" id="show_input_1" class="uk-link uk-icon" uk-tooltip="Saisie libre"></span>
          <div class="" uk-grid>
            <% ComplaintAnswer.where(complaint_kind: 1, question_number: 1).sort_by {|e| e[:answer_number]}.each do |answer| %>
              <span class="uk-width-1-3 uk-margin-remove-top">
                <%= form.radio_button 'complaint_answer_1', answer.id, class: 'uk-radio', id: "complaint_answer_#{answer.id}",
                                      checked: complaint.complaint_answers.where(id: answer.id).present? || answer.answer_number == 1 %>
                <% if answer.opinion == 'favorable' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-success' %>
                <% elsif answer.opinion == 'partagee' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-warning' %>
                <% elsif answer.opinion == 'defavorable' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-danger' %>
                <% else %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label' %>
                <% end %>
              </span>
            <% end %>
            <span id="input_container_1" class="uk-width uk-margin-remove-top uk-hidden">
              <%= form.text_field 'complaint_answer_input_1', placeholder: 'Saisie libre',
                                  value: complaint.complaint_free_answers.find_by(answer_id: 'complaint_answer_input_1').try(:text),
                                  class: 'uk-input', data: {target: 'form.input'} %>
            </span>
          </div>
        </div>

        <div class="uk-margin">
          <%= form.label :question, 'La valeur de la commande est de', class: 'uk-form-label uk-text-bold' %>
          <span uk-icon="pencil" id="show_input_2" class="uk-link uk-icon" uk-tooltip="Saisie libre"></span>
          <div class="" uk-grid>
            <% ComplaintAnswer.where(complaint_kind: 1, question_number: 2).sort_by {|e| e[:answer_number]}.each do |answer| %>
              <span class="uk-width-1-3 uk-margin-remove-top">
                <%= form.radio_button 'complaint_answer_2', answer.id, class: 'uk-radio', id: "complaint_answer_#{answer.id}",
                                      checked: complaint.complaint_answers.where(id: answer.id).present? || answer.answer_number == 1 %>
                <% if answer.opinion == 'favorable' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-success' %>
                <% elsif answer.opinion == 'partagee' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-warning' %>
                <% elsif answer.opinion == 'defavorable' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-danger' %>
                <% else %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label' %>
                <% end %>
              </span>
            <% end %>
            <span id="input_container_2" class="uk-width uk-margin-remove-top uk-hidden">
              <%= form.text_field 'complaint_answer_input_2', placeholder: 'Saisie libre',
                                  value: complaint.complaint_free_answers.find_by(answer_id: 'complaint_answer_input_2').try(:text),
                                  class: 'uk-input', data: {target: 'form.input'} %>
            </span>
          </div>
        </div>

        <div class="uk-margin">
          <%= form.label :question, 'La valeur des articles ou de la réclamation est de', class: 'uk-form-label uk-text-bold' %>
          <span uk-icon="pencil" id="show_input_3" class="uk-link uk-icon" uk-tooltip="Saisie libre"></span>
          <div class="" uk-grid>
            <% ComplaintAnswer.where(complaint_kind: 1, question_number: 3).sort_by {|e| e[:answer_number]}.each do |answer| %>
              <span class="uk-width-1-3 uk-margin-remove-top">
                <%= form.radio_button 'complaint_answer_3', answer.id, class: 'uk-radio', id: "complaint_answer_#{answer.id}",
                                      checked: complaint.complaint_answers.where(id: answer.id).present? || answer.answer_number == 1 %>
                <% if answer.opinion == 'favorable' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-success' %>
                <% elsif answer.opinion == 'partagee' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-warning' %>
                <% elsif answer.opinion == 'defavorable' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-danger' %>
                <% else %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label' %>
                <% end %>
              </span>
            <% end %>
            <span id="input_container_3" class="uk-width uk-margin-remove-top uk-hidden">
              <%= form.text_field 'complaint_answer_input_3', placeholder: 'Saisie libre',
                                  value: complaint.complaint_free_answers.find_by(answer_id: 'complaint_answer_input_3').try(:text),
                                  class: 'uk-input', data: {target: 'form.input'} %>
            </span>
          </div>
        </div>

        <h3>L'importance de la réclamation</h3>
        <div class="uk-margin">
          <%= form.label :question, 'Le client a-t-il une constatation du livreur ?', class: 'uk-form-label uk-text-bold' %>
          <span uk-icon="pencil" id="show_input_4" class="uk-link uk-icon" uk-tooltip="Saisie libre"></span>
          <div class="" uk-grid>
            <% ComplaintAnswer.where(complaint_kind: 1, question_number: 4).sort_by {|e| e[:answer_number]}.each do |answer| %>
              <span class="uk-width-1-3 uk-margin-remove-top">
                <%= form.radio_button 'complaint_answer_4', answer.id, class: 'uk-radio', id: "complaint_answer_#{answer.id}",
                                      checked: complaint.complaint_answers.where(id: answer.id).present? || answer.answer_number == 1 %>
                <% if answer.opinion == 'favorable' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-success' %>
                <% elsif answer.opinion == 'partagee' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-warning' %>
                <% elsif answer.opinion == 'defavorable' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-danger' %>
                <% else %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label' %>
                <% end %>
              </span>
            <% end %>
            <span id="input_container_4" class="uk-width uk-margin-remove-top uk-hidden">
              <%= form.text_field 'complaint_answer_input_4', placeholder: 'Saisie libre',
                                  value: complaint.complaint_free_answers.find_by(answer_id: 'complaint_answer_input_4').try(:text),
                                  class: 'uk-input', data: {target: 'form.input'} %>
            </span>
          </div>
        </div>

        <div class="uk-margin">
          <%= form.label :question, 'Le client a-t-il pris une garantie ?', class: 'uk-form-label uk-text-bold' %>
          <span uk-icon="pencil" id="show_input_5" class="uk-link uk-icon" uk-tooltip="Saisie libre"></span>
          <div class="" uk-grid>
            <% ComplaintAnswer.where(complaint_kind: 1, question_number: 5).sort_by {|e| e[:answer_number]}.each do |answer| %>
              <span class="uk-width-1-3 uk-margin-remove-top">
                <%= form.radio_button 'complaint_answer_5', answer.id, class: 'uk-radio', id: "complaint_answer_#{answer.id}",
                                      checked: complaint.complaint_answers.where(id: answer.id).present? || answer.answer_number == 1 %>
                <% if answer.opinion == 'favorable' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-success' %>
                <% elsif answer.opinion == 'partagee' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-warning' %>
                <% elsif answer.opinion == 'defavorable' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-danger' %>
                <% else %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label' %>
                <% end %>
              </span>
            <% end %>
            <span id="input_container_5" class="uk-width uk-margin-remove-top uk-hidden">
              <%= form.text_field 'complaint_answer_input_5', placeholder: 'Saisie libre',
                                  value: complaint.complaint_free_answers.find_by(answer_id: 'complaint_answer_input_5').try(:text),
                                  class: 'uk-input', data: {target: 'form.input'} %>
            </span>
          </div>
        </div>
      </div>

      <div class="uk-width-1-2">
        <h3>Autres à considérer ?</h3>
        <div class="uk-margin">
          <%= form.label :question, 'Le client a-t-il pris une garantie ? (48/72h pour les étrangers)', class: 'uk-form-label uk-text-bold' %>
          <span uk-icon="pencil" id="show_input_6" class="uk-link uk-icon" uk-tooltip="Saisie libre"></span>
          <div class="" uk-grid>
            <% ComplaintAnswer.where(complaint_kind: 1, question_number: 6).sort_by {|e| e[:answer_number]}.each do |answer| %>
              <span class="uk-width-1-3 uk-margin-remove-top">
                <%= form.radio_button 'complaint_answer_6', answer.id, class: 'uk-radio', id: "complaint_answer_#{answer.id}",
                                      checked: complaint.complaint_answers.where(id: answer.id).present? || answer.answer_number == 1 %>
                <% if answer.opinion == 'favorable' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-success' %>
                <% elsif answer.opinion == 'partagee' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-warning' %>
                <% elsif answer.opinion == 'defavorable' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-danger' %>
                <% else %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label' %>
                <% end %>
              </span>
            <% end %>
            <span id="input_container_6" class="uk-width uk-margin-remove-top uk-hidden">
              <%= form.text_field 'complaint_answer_input_6', placeholder: 'Saisie libre',
                                  value: complaint.complaint_free_answers.find_by(answer_id: 'complaint_answer_input_6').try(:text),
                                  class: 'uk-input', data: {target: 'form.input'} %>
            </span>
          </div>
        </div>

        <div class="uk-margin">
          <%= form.label :question, 'Le client nous contacte à réception du colis (au pire dans les 24h) ?', class: 'uk-form-label uk-text-bold' %>
          <span uk-icon="pencil" id="show_input_7" class="uk-link uk-icon" uk-tooltip="Saisie libre"></span>
          <div class="" uk-grid>
            <% ComplaintAnswer.where(complaint_kind: 1, question_number: 7).sort_by {|e| e[:answer_number]}.each do |answer| %>
              <span class="uk-width-1-3 uk-margin-remove-top">
                <%= form.radio_button 'complaint_answer_7', answer.id, class: 'uk-radio', id: "complaint_answer_#{answer.id}",
                                      checked: complaint.complaint_answers.where(id: answer.id).present? || answer.answer_number == 1 %>
                <% if answer.opinion == 'favorable' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-success' %>
                <% elsif answer.opinion == 'partagee' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-warning' %>
                <% elsif answer.opinion == 'defavorable' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-danger' %>
                <% else %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label' %>
                <% end %>
              </span>
            <% end %>
            <span id="input_container_7" class="uk-width uk-margin-remove-top uk-hidden">
              <%= form.text_field 'complaint_answer_input_7', placeholder: 'Saisie libre',
                                  value: complaint.complaint_free_answers.find_by(answer_id: 'complaint_answer_input_7').try(:text),
                                  class: 'uk-input', data: {target: 'form.input'} %>
            </span>
          </div>
        </div>

        <h3>Les éléments variables</h3>
        <div class="uk-margin">
          <%= form.label :question, 'Le transporteur a-t-il expédié le colis dans le temps imparti selon le mode de livraison choisi par le client ?',
                         class: 'uk-form-label uk-text-bold' %>
          <span uk-icon="pencil" id="show_input_8" class="uk-link uk-icon" uk-tooltip="Saisie libre"></span>
          <div class="" uk-grid>
            <% ComplaintAnswer.where(complaint_kind: 1, question_number: 8).sort_by {|e| e[:answer_number]}.each do |answer| %>
              <span class="uk-width-1-3 uk-margin-remove-top">
                <%= form.radio_button 'complaint_answer_8', answer.id, class: 'uk-radio', id: "complaint_answer_#{answer.id}",
                                      checked: complaint.complaint_answers.where(id: answer.id).present? || answer.answer_number == 1 %>
                <% if answer.opinion == 'favorable' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-success' %>
                <% elsif answer.opinion == 'partagee' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-warning' %>
                <% elsif answer.opinion == 'defavorable' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-danger' %>
                <% else %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label' %>
                <% end %>
              </span>
            <% end %>
            <span id="input_container_8" class="uk-width uk-margin-remove-top uk-hidden">
              <%= form.text_field 'complaint_answer_input_8', placeholder: 'Saisie libre',
                                  value: complaint.complaint_free_answers.find_by(answer_id: 'complaint_answer_input_8').try(:text),
                                  class: 'uk-input', data: {target: 'form.input'} %>
            </span>
          </div>
        </div>

        <div class="uk-margin">
          <%= form.label :question, 'A-t-on expédié sa commande en temps et en heure ?', class: 'uk-form-label uk-text-bold' %>
          <span uk-icon="pencil" id="show_input_9" class="uk-link uk-icon" uk-tooltip="Saisie libre"></span>
          <div class="" uk-grid>
            <% ComplaintAnswer.where(complaint_kind: 1, question_number: 9).sort_by {|e| e[:answer_number]}.each do |answer| %>
              <span class="uk-width-1-3 uk-margin-remove-top">
                <%= form.radio_button 'complaint_answer_9', answer.id, class: 'uk-radio', id: "complaint_answer_#{answer.id}",
                                      checked: complaint.complaint_answers.where(id: answer.id).present? || answer.answer_number == 1 %>
                <% if answer.opinion == 'favorable' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-success' %>
                <% elsif answer.opinion == 'partagee' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-warning' %>
                <% elsif answer.opinion == 'defavorable' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-danger' %>
                <% else %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label' %>
                <% end %>
              </span>
            <% end %>
            <span id="input_container_9" class="uk-width uk-margin-remove-top uk-hidden">
              <%= form.text_field 'complaint_answer_input_9', placeholder: 'Saisie libre',
                                  value: complaint.complaint_free_answers.find_by(answer_id: 'complaint_answer_input_9').try(:text),
                                  class: 'uk-input', data: {target: 'form.input'} %>
            </span>
          </div>
        </div>

        <div class="uk-margin">
          <%= form.label :question, 'Quelle est la typologie du client ?', class: 'uk-form-label uk-text-bold' %>
          <span uk-icon="pencil" id="show_input_10" class="uk-link uk-icon" uk-tooltip="Saisie libre"></span>
          <div class="" uk-grid>
            <% ComplaintAnswer.where(complaint_kind: 1, question_number: 10).sort_by {|e| e[:answer_number]}.each do |answer| %>
              <span class="uk-width-1-3 uk-margin-remove-top">
                <%= form.radio_button 'complaint_answer_10', answer.id, class: 'uk-radio', id: "complaint_answer_#{answer.id}",
                                      checked: complaint.complaint_answers.where(id: answer.id).present? || answer.answer_number == 1 %>
                <% if answer.opinion == 'favorable' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-success' %>
                <% elsif answer.opinion == 'partagee' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-warning' %>
                <% elsif answer.opinion == 'defavorable' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-danger' %>
                <% else %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label' %>
                <% end %>
              </span>
            <% end %>
            <span id="input_container_10" class="uk-width uk-margin-remove-top uk-hidden">
              <%= form.text_field 'complaint_answer_input_10', placeholder: 'Saisie libre',
                                  value: complaint.complaint_free_answers.find_by(answer_id: 'complaint_answer_input_10').try(:text),
                                  class: 'uk-input', data: {target: 'form.input'} %>
            </span>
          </div>
        </div>
      </div>
    </div>

    <%= form.hidden_field :search, value: @params[:search] %>

    <div class="uk-margin-medium">
      <%= link_to 'Retour', edit_complaint_path(complaint, search: @params[:search]), class: 'uk-button uk-button-default' %>
      <%= form.submit "Suivant", class: 'uk-button uk-button-primary' %>
    </div>
  </fieldset>
<% end %>

<script>
    $(document).ready(function () {
        for (let i = 1; i <= 10; i++) {
            $('#show_input_' + i).on('click', function () {
                if ($('#input_container_' + i).hasClass('uk-hidden'))
                    $('#input_container_' + i).removeClass('uk-hidden');
                else
                    $('#input_container_' + i).addClass('uk-hidden');
            });
        }
    });
</script>