<%= form_with(model: complaint, local: true, url: "/complaints/#{complaint.id}/form_second_submit",
              data: {controller: 'form', form_errors: complaint.errors.messages.keys.join(',')}) do |form| %>
  <fieldset class="uk-fieldset">
    <% if complaint.errors.any? %>
      <div id="error_explanation" class="uk-alert-danger" uk-alert>
        <h2><%= t("errors.template.header", count: complaint.errors.count, model: 'interaction') %></h2>

        <ul>
          <% complaint.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="uk-margin" uk-grid>
      <div class="uk-width-1-2">
        <h3>Les incontournables</h3>
        <div class="uk-margin">
          <%= form.label :question, 'La valeur de la commande est de', class: 'uk-form-label uk-text-bold' %>
          <span uk-icon="pencil" id="show_input_1" class="uk-link uk-icon" uk-tooltip="Saisie libre"></span>
          <div class="" uk-grid>
            <% ComplaintAnswer.where(complaint_kind: 10, question_number: 1).sort_by {|e| e[:answer_number]}.each do |answer| %>
              <span class="uk-width-1-3 uk-margin-remove-top">
                <%= form.radio_button 'complaint_answer_1', answer.id, class: 'uk-radio', id: "complaint_answer_#{answer.id}",
                                      checked: complaint.complaint_answers.where(id: answer.id).present? || answer.answer_number == 1 %>
                <% if answer.opinion == 'favorable' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-success' %>
                <% elsif answer.opinion == 'partagee' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-warning' %>
                <% elsif answer.opinion == 'defavorable' %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label uk-text-danger' %>
                <% else %>
                  <%= form.label "answer_#{answer.id}", answer.text, class: 'uk-form-label' %>
                <% end %>
              </span>
            <% end %>
            <span id="input_container_1" class="uk-width uk-margin-remove-top uk-hidden">
              <%= form.text_field 'complaint_answer_input_1', placeholder: 'Saisie libre',
                                  value: complaint.complaint_free_answers.find_by(answer_id: 'complaint_answer_input_1').try(:text),
                                  class: 'uk-input', data: {target: 'form.input'} %>
            </span>
          </div>
        </div>
      </div>
    </div>

    <%= form.hidden_field :search, value: @params[:search] %>

    <div class="uk-margin-medium">
      <%= link_to 'Retour', edit_complaint_path(complaint, search: @params[:search]), class: 'uk-button uk-button-default' %>
      <%= form.submit "Suivant", class: 'uk-button uk-button-primary' %>
    </div>
  </fieldset>
<% end %>

<script>
    $(document).ready(function () {
          $('#show_input_1').on('click', function () {
              if ($('#input_container_1').hasClass('uk-hidden'))
                  $('#input_container_1').removeClass('uk-hidden');
              else
                  $('#input_container_1').addClass('uk-hidden');
          });
    });
</script>